svg {
    width: 2rem;
    fill: #212529;
}

.container {
    background-color: #74C7AB;
}

.icon-size {
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .icon-list {
        flex-direction: column;
    }
  }
